
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Bạn không có quyền truy cập trang này
    @Html.ActionLink("Trở về", "Index", "Home", null, null)
</h2>

